<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2803fdb0-06c8-4344-af1b-16440ae65cd8/resourcegroups/lab2iryna_group/providers/Microsoft.ContainerRegistry/registries/Laba3Iryna</ResourceId>
    <ResourceName>Laba3Iryna</ResourceName>
    <ResourceGroup>lab2iryna_group</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://laba3iryna.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>